#fb-reflector {
  width: 500px;
  padding-bottom:10px;
  letter-spacing:1px;
  overflow:hidden;
}
#fb-reflector div.feed-item {
/*  width:472px;*/
  padding:10px 0 15px 15px;
  overflow:hidden;
  border-bottom: 1px dashed gray;
}
#fb-reflector div.message {
  margin:0;
}
#fb-reflector div.metadata {
  color:#666;
  font-size: 12px;
}
#fb-reflector div.likes {
  margin: 5px 0 0 0;
  color:#666;
  font-size: 12px;
}
#fb-reflector div.comment {
  margin: 15px 0 0 0;
  font-size:12px;
  overflow:hidden;
}
#fb-reflector div.comment div.comment-photo {
  float:left;
  margin:3px 0 0 10px;
}
#fb-reflector div.comment div.comment-photo img {
  border: 0;
}
#fb-reflector div.comment div.comment-details {
  margin-left: 70px;
}
#fb-reflector div.comment div.commenter {
  font-size:12px;
  font-weight: normal;
  line-height:17px;
}
#fb-reflector div.comment div.commenter a {
  color:#666;
  text-decoration: none;
}
#fb-reflector div.comment div.commenter a:hover {
  text-decoration: underline;
}

#fb-reflector div.image{
  margin:10px 0 0;
  padding-bottom:2px;
  width:100%;
  overflow:hidden;
}
#fb-reflector div#paging-link {
  display:inline-block;
  margin:20px 5px 0 0;
  padding-right:22px;
}
#fb-reflector a.more:hover{
  text-decoration:none;
}